attrs
beautifulsoup4
black
bs4
certifi
coverage
flake8
h11
idna
outcome
parameterized
PySocks
selenium
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
urllib3
websocket-client
wsproto
webdriver-manager

